@model Data.Core.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_InputLayout.cshtml";
}
    <link href="~/Content/Styles/CommonStyles.css" rel="stylesheet" />
    <link href="~/Content/Styles/Register.css" rel="stylesheet" />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="flexcontainer">
        <div >
            @Html.AntiForgeryToken()

            <div>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)

            </div>
            <div>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        </div>
        <div class="item">
            <div>
                <div>
                    @Html.LabelFor(c => c.CustFirstName)
                    @Html.TextBoxFor(c => c.CustFirstName)
                    @Html.ValidationMessageFor(v => v.CustFirstName)
                </div>
                <div>
                    @Html.LabelFor(c => c.CustLastName)
                    @Html.TextBoxFor(c => c.CustLastName)
                    @Html.ValidationMessageFor(c => c.CustLastName)


                </div>
                <div>
                    @Html.LabelFor(c => c.CustAddress)
                    @Html.TextBoxFor(c => c.CustAddress)
                    @Html.ValidationMessageFor(v => v.CustAddress)

                </div>
                <div>
                    @Html.LabelFor(c => c.CustCity)
                    @Html.TextBoxFor(c => c.CustCity)
                    @Html.ValidationMessageFor(v => v.CustCity)

                </div>
                <div>
                    @Html.LabelFor(c => c.CustProv)
                    @Html.TextBoxFor(c => c.CustProv)
                    @Html.ValidationMessageFor(v => v.CustProv)

                </div>
                <div>
                    @Html.LabelFor(c => c.CustPostal)
                    @Html.TextBoxFor(c => c.CustPostal)
                    @Html.ValidationMessageFor(v => v.CustPostal)

                </div>
            </div>
        </div>
        <div class="item">
            <div>
                <div>
                    @Html.LabelFor(c => c.CustCountry)
                    @Html.TextBoxFor(c => c.CustCountry)
                    @Html.ValidationMessageFor(v => v.CustCountry)

                </div>
                <div>
                    @Html.LabelFor(c => c.CustHomePhone)
                    @Html.TextBoxFor(c => c.CustHomePhone)
                    @Html.ValidationMessageFor(v => v.CustHomePhone)

                </div>
                <div>
                    @Html.LabelFor(c => c.CustBusPhone)
                    @Html.TextBoxFor(c => c.CustBusPhone)
                    @Html.ValidationMessageFor(v => v.CustBusPhone)
                </div>
                <div class="form-group">
                    <div>
                        <input  type="submit" value="Register" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
