@model Data.Core.ViewModel.PackageAgentViewModel

<head>
    <script src="https://kit.fontawesome.com/7a976362d3.js"></script>
</head>

<header>
    <div class="heading-text-box">
        <h1>Welcome to Travel Experts</h1>
        <h3>We are here to get you there!</h3>
    </div>
</header>

<main>
    <!--            Plan section coded by Cole and Mike-->
    <!--            Cole - Code to load plans from database-->
    <!--            Mike - implemented Bootstrap carousel and styling -->
    <section id="Plans">
        <h3>Travel Plans</h3>
        <div id="plans" class="carousel slide" data-ride="carousel">
            @*<ul class="carousel-indicators">
                <li data-target="#plans" data-slide-to="0" class="active"></li>
                <li data-target="#plans" data-slide-to="1"></li>
                <li data-target="#plans" data-slide-to="2"></li>
                    <li data-target="#plans" data-slide-to="3"></li>
                        </ul>*@
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Packages.Count(); i++)
                {

                    if (i == 0)
                    {
                        @:<div class="carousel-item active">
                            @: <div class="row">
                            }
                            else if (i % 3 == 0 && i != 0)
                            {
                            @: </div>
                        @:</div>
                        @:<div class="carousel-item ">
                            @:<div class="row">
                            }
                            <div class="col">
                                <h4>@Model.Packages[i].PkgName</h4>
                                <img src="@Model.Packages[i].PackageImageLocation" alt="@Model.Packages[i].PkgName">
                                <p>@Model.Packages[i].PkgDesc</p>
                                <p>@Model.Packages[i].PkgBasePrice</p>
                                <div class="buttonContainer">
                                    @Html.ActionLink("Book",
                                        "Index",
                                        "Booking",
                                        new { id = Model.Packages[i].PackageId },
                                        new { @class = "button" })
                                </div>
                            </div>
                        }

            </div>
        </div>

        <!--                        Left and right controls-->
        <a class="carousel-control-prev" href="#plans" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#plans" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
</section>
<!-- Registration Section completed by John and Mike-->
<!--            John - Submit functionality-->
<!--            Mike - Design and styling of registration form amd validation-->
<section id="Register" class="registration--main_form">
</section>
<!--            Contact Section - Sumit and John-->
<!--            Sumit and John worked on the style and loading records from database-->
<section id="ContactUs">
    <div>
        <em class="fas fa-phone-square-alt fa-3x"></em><br><br>
        <p><strong>PHONE:</strong></p>

        @foreach (var item in Model.Agencies)
        {
            <ul class="listPadding">
                <li><div>@item.AgncyCity</div></li>
                <li><span>Phone: </span>@item.AgncyPhone</li>
                <li><span>Fax: </span>@item.AgncyFax</li>

            </ul>
        }
    </div>
    <div>
        <em class="fas fa-envelope-open-text fa-3x"></em><br><br>
        <p><strong>EMAIL:</strong></p>
        @foreach (var parent in Model.Agencies)
        {<ul class="listPadding">
                <li><div>@parent.AgncyCity</div></li>
            </ul>
            foreach (var child in parent.Agents)
            {
                <ul class="listPadding">
                    <li><span1>Agent Name: </span1>@child.AgtFirstName @child.AgtLastName</li>
                    <li><span1>Email: </span1>@child.AgtEmail</li>

                </ul>
            }
        }
    </div>
    <div>
        <em class="fas fa-map-marker-alt fa-3x"></em><br><br>
        <p><strong>ADDRESS:</strong></p>

        @foreach (var item in Model.Agencies)
        {
            <ul class="listPadding">
                <li><div>@item.AgncyCity</div></li>
                <li><span>@item.AgncyAddress</span></li>
            </ul>
        }

    </div>
</section>
<a href="#" class="back-to-top"><i id="arrow" class="fas fa-arrow-alt-circle-up fa-3x"></i></a>
</main>

@section scripts {
    <script>
        $('#btnLogin').click(function(e) {
            var data = {
                Email: $("#username").val(),
                Password: $("#password").val(),
                RememberMe: $("#remember").val()
            };
            var returnUrl = "@Url.Action("Index","Home")";
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Account/Login",
                data: `{data: ${JSON.stringify(data)} }`,
                success:
                    function () {
                        alert("success");
                    },
                error: function() {
                    alert("Error!");
                }

            });

        });
    </script>
}
