<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Experts</title>
    <meta name="description" content="Travel Experts website">
    <link href="~/Content/Styles/CommonStyles.css" rel="stylesheet" />
    @Scripts.Render("~/Content/boot")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav>
        <div class="flexcontainer">
            <div class="pageLogo">
                <img class="logo" src="~/Content/img/travelexpertnew.png" alt="Travel experts logo">
            </div>
            <div class="menu">
                <ul class="head-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                    <li>@Html.ActionLink("Travel Products", "TravelProducts", "Customer")</li>
                    <li><a href="#AboutUs">About Us</a></li>
                    <li><a href="#ContactUs">Contact Us</a></li>
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


